<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yeqiu.hailhaydra">

    <!--权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.HailHaydraApp"
        android:allowBackup="true"
        android:icon="@drawable/hydra"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HaydraMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.PhoneInfoActivity"/>
        <activity android:name=".activity.StringUtilsActivity"/>
        <activity android:name=".activity.KeyBordListenerActivity"/>
        <activity android:name=".activity.LitePalActivity"/>
        <activity android:name=".activity.DialogActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.ViewScreenshotActivity"/>
        <activity android:name=".activity.OtherActivity"/>
        <activity android:name=".activity.ConstraintLayoutActivity"/>
        <activity android:name=".activity.ImmersionBarActivity"/>
        <activity android:name=".activity.AllPicActivity"/>
        <activity android:name=".activity.UpdateActivity"/>
        <activity android:name=".activity.ToastActivity"/>
        <activity android:name=".activity.MarqueeTextViewActivity"/>
        <activity android:name=".activity.TextToolActivity"/>
    </application>

</manifest>