<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yeqiu.androiddome">



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:name="com.yeqiu.androidlibrary.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yeqiu.androidlibrary.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.ImmersivetestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.SoftKeyListenerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.NumberkeyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.NumberkeyActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.PasswordViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.androidlibrary.activity.EditTextActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yeqiu.androidlibrary.activity.DialogActivity"/>
        <activity android:name="com.yeqiu.androidlibrary.activity.NetworkListenerActivity"/>
        <activity android:name="com.yeqiu.androidlibrary.activity.RecyclerViewDomeActivity"/>
        <activity android:name="com.yeqiu.androidlibrary.activity.OKGoActivity"/>
    </application>

</manifest>