<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yeqiu.androiddome">



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:name="com.yeqiu.hailhydra.app.App"
        android:allowBackup="true"
        android:icon="@drawable/hydra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yeqiu.hailhydra.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yeqiu.hailhydra.activity.ImmersivetestActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.hailhydra.activity.SoftKeyListenerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.hailhydra.activity.NumberkeyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.hailhydra.activity.NumberkeyActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.hailhydra.activity.PasswordViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yeqiu.hailhydra.activity.EditTextActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.yeqiu.hailhydra.activity.DialogActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.NetworkListenerActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.RecyclerViewDomeActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.OKGoActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.WebViewActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.ProgressBarActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.ImmersionImageActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.ImmersionBarActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.StatusLayoutActivity"/>
        <activity android:name="com.yeqiu.hailhydra.activity.SampleActivity"/>

        <activity android:name="com.yeqiu.hailhydra.activity.WebViewScreenshotActivity"
                  android:windowSoftInputMode="adjustResize"

            />
        <activity android:name="com.yeqiu.hailhydra.activity.ThreadActivity"/>

    </application>

</manifest>